*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}
html {
  box-sizing: border-box;
  font-size: 62.5%;
 }
body {
  overflow-x: hidden;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
button{
border: none;
background: transparent;
/* outline: none; */
/* box-shadow: none; */

}
a:active ,a:visited{
  color: white;
}
